p    {
       color: cyan;
	   text-align; right;
	  }
	  div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
  h1 {
  color: blue;
  text-align: center;
}
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
{
border: 4mm ridge rgba(211, 220, 50, 0.6);
}